@import '../../styles/utils.scss';

.background {
    background-image: linear-gradient(to top, $secondary 0%, $primary 100%);
    height: 300vw;
}

.triangles {
    display: flex;
    justify-content: space-between;
}

.triangle1 {
 top: 0;
 width : 0;
 border-top : 100vh solid black;
 border-right : 550px solid transparent;
}


.triangle2 {
    right: 0;
    top: 0;
    width : 0;
    border-top : 70vh solid black;
    border-left : 1000px solid transparent;
}

