@import '../styles/utils.scss';

.presentationBackground {
  background-image: linear-gradient(to top, $secondary 0%, $primary 100%);
  margin: 0;
  padding: 0;
}

.presentation {
  display: flex;
  position: relative;
  height: 630px;

  &__background {
    position: absolute;
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 1763px solid transparent;
    border-bottom: 630px solid white;
    border-left: 787px solid transparent;
  }

  &__img {
    margin: 150px;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    z-index: 1;
    @include box-shadow;
  }

  &__h1des {
    position: absolute;
    color: black;
    font-size: 40px;
    margin: 180px 0 0 150px;
    padding-left: 550px;
    z-index: 2;
  }

  &__text {
    color: black;
    text-align: center;
    z-index: 1;
    margin: 280px 250px 300px 550px;
  }
}

.portfolio {
  padding: 50px 150px;
  h1 {
    font-weight: 500;
    padding-bottom: 50px;
  }
  &__img {
    height: 30px;
    width: auto;
    margin-bottom: 15px;
  }
  &__realisations {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    &__item {
    border-image : linear-gradient(to top, $secondary 0%, $primary 100%) 1 ;
    border-style : solid ;
    border-radius: 50px ;
    border-width : 5px ;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  }
}