@import '../styles/utils.scss';

.presentationBackground {
  background-image: linear-gradient(to top, $secondary 0%, $primary 100%);
  margin: 0;
  padding: 0;
}

.presentation {
  display: flex;
  flex-direction: column;
  //position: relative;
  height: 630px;
  &__top {
    display: flex;
  }

  &__background {
    position: absolute;
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 170px;
    //border-right: 1763px solid transparent;
    //border-bottom: 630px solid white;
    //border-left: 787px solid transparent;
    border-right: 150vw solid transparent;
    border-bottom: 89.6vh solid rgb(245, 255, 254);
    border-left: 20vw solid transparent;
  }

  &__img {
    margin: 13vw 0 0 80px;
    height: 280px;
    width: 280px;
    border-radius: 200px;
    z-index: 1;
    @include box-shadow;
  }

  &__text {
    display: flex;
    flex-direction: column;

  }
  &__h1des {
    color: black;
    font-size: 28px;
    margin: 11vw 5vw 1vw 5vw;
    z-index: 2;
  }
  &__h2des {
    color: #0523FA;
    font-size: 20px;
    font-weight: 350;
    margin: 0vw 5vw 3vw 5vw;
    z-index: 2;
  }

  &__desc {
    color: black;
    z-index: 1;
    margin-right: 3vw;
    margin-left: 5vw;
    p {
      padding-bottom: 20px;
    }

  }
}

.contacts {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  color: black;
  margin: 0vw 10vw 0 26vw;
  &__contact {
    display: flex;
    align-items: center;
    p {
      padding-left: 15px;
    }
  }
}


.portfolio {
  padding: 50px 150px;
  h1 {
    font-weight: 500;
    padding-bottom: 50px;
  }
  &__img {
    height: 30px;
    width: auto;
    margin-bottom: 15px;
  }
  &__realisations {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    &__item {
    border-image : linear-gradient(to top, $secondary 0%, $primary 100%) 1 ;
    border-style : solid ;
    border-radius: 50px ;
    border-width : 5px ;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  }
}
