@import '../styles/utils.scss';

.background {
  background-image: linear-gradient(to top, $secondary 0%, $primary 100%);
  height: 300vw;
}

.triangles {
  display: flex;
  justify-content: space-between;
  position:relative;

}

.triangle1 {
top: 0;
width : 0;
border-top : 91vh solid black;
border-right : 550px solid transparent;
position:absolute;
}


.triangle2 {
  right: 0;
  top: 0;
  width : 0;
  border-top : 50vh solid black;
  border-left : 1000px solid transparent;
  position: absolute;
}

.presentation {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 90.8vh;
  z-index: 10;
  top: 0;
  &__top {
    display: flex;
  }
  &__background {
    //position: absolute;
    display: inline-block;
    height: 0;
    width: 0;
    background-color: black;
    //border-right: 1763px solid transparent;
    //border-bottom: 630px solid white;
    //border-left: 787px solid transparent;
    border-right: 110vw solid transparent;
    border-bottom: 90.8vh solid white;
    border-left: 45vw solid transparent;
    z-index: 1;
  }

  &__img {
    margin: 10vw 0 0 6vw;
    height: 280px;
    width: 280px;
    border-radius: 200px;
    z-index: 1;
    @include box-shadow;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__h1des {
    color: black;
    font-size: 26px;
    margin: 10vw 3vw 3vw 6vw;
    z-index: 2;
  }

  &__desc {
    color: black;
    z-index: 1;
    margin: 0 30vw 0 3.5vw;
    p {
      padding-bottom: 15px;
    }
 
  }
}

.services {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  color: black;
  margin: 2vw 3vw 0 3vw;
}

.portfolio {
  margin-top: 50vw;
  padding: 50px 150px;
  h1 {
    font-weight: 500;
    padding-bottom: 50px;
  }
  &__img {
    height: 30px;
    width: auto;
    margin-bottom: 15px;
  }
  &__realisations {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    &__item {
    border-image : linear-gradient(to top, $secondary 0%, $primary 100%) 1 ;
    border-style : solid ;
    border-radius: 50px ;
    border-width : 5px ;
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
  }
}
