@import '../../../styles/utils.scss';

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    color: $primary;
    background-color: black;
    box-shadow: 0 0 20px #d1fdff;
    padding: 20px 80px;
    z-index: 1;
}

.navbar__links {
    display: flex;
    list-style-type: none;
}

.navbar__link {
    color: $primary;
}

.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    color: $primary;    
    display: none;
}

.navbar__h1 {
    color: white;  
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

a:link{
    text-decoration: none;
  }

.navbar__item {
    font-size: 18px;
    margin-left: 50px;
}

/* Format tablette */

@media all and (max-width: 992px) {
    .navbar {
        padding: 15px 60px;
      }
      .navbar__logo {
        height: 45px;
    }
    .navbar__item {
        font-size: 12px;
        margin-left: 35px;
        text-transform: uppercase;
    }
    }


/* Format mobile */

@media all and (max-width: 768px) {
    .navbar {
        padding: 10px 30px;
    }
    .navbar__logo {
        height: 35px;
    }
    .navbar__item {
        font-size: 10px;
        margin: 0 auto;
        text-transform: none;
        a {
            font-size: 14px;
        }
    }
    .navbar__links {
        box-shadow: 0 0 10px $primary;
        flex-direction: column;
        //justify-content: center;
        position: fixed;
        right:-100vw;
        bottom: 0;
        top: 0px;
        height: 100vh;
        padding: 5rem 1rem;
        width: 0;
        background-color: rgba(231, 251, 242, .97);
        align-items: center;
        visibility: hidden;
        transition: all 0.8s ease-out;
    }
    .show-nav .navbar__links {
        right: 0;
        width: 20vh;
        visibility: visible;
    }
    .navbar__link {
        display: block;
        padding: 1.5rem 0;
        font-size: 5vw;
    }
    .navbar__burger {
        display: block;
        position: fixed;
        top: 18px;
        right: 30px;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
    .burger-bar, .burger-bar::before, .burger-bar::after {
        display: block;
        width: 35px;
        height: 1.6px;
        position: relative;
        border-radius: 3px;
        background: $primary;
        transition: all 0.3s ease-in-out;
    }
    .burger-bar::before, .burger-bar::after {
        content:"";
        position: absolute;
        left: 0;
  }
  .burger-bar::before {
      transform: translateY(-10px);
  }
  .burger-bar::after {
    transform: translateY(10px);
}
    .show-nav .burger-bar {
        background: transparent;
        width: 0;
    }
    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }
    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }
    .navbar__item::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 2px;
        background: $secondary;
    }
    .navbar__item:last-child::after {
        display:none;
    }
    .navbar__item {
        transform: translateY(100vh);
    }
    .show-nav .navbar__item {
        transform: translateY(0);
    }
    .show-nav .slideInDown-1 {
        transition: all 0.8s ease-out;
    }
    .show-nav .slideInDown-2 {
        transition: all 0.9s ease-out;
    }
    .show-nav .slideInDown-3 {
        transition: all 1s ease-out;
    }
    .show-nav .slideInDown-4 {
        transition: all 1.1s ease-out;
    }
}