@font-face {
    font-family: 'Work-Sans-Light';
    src: url('./polices/Quicksand-VariableFont_wght.ttf') format('truetype');
  }

  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Work-Sans-Light';
} 